@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.DAL;

@{
    var loginLogic = Dependencies.LoginLogic;
    loginLogic.Read();

    @: At all <span class="strong">@LoginDBDao.usersList.Count()</span> users:<br />
    if (LoginDBDao.usersList.Count() > 0)
    {
        int no = 1;
        @:<style>td {border: 1px solid white;}</style><table> <tr><td style="color: white;">no</td><td style="color: white;">name</td><td style="color: white;">password</td><td style="color: white;">role</td></tr>
            foreach (var item in LoginDBDao.usersList)
            {
                @:<tr><td style="color: white;">@no</td><td>@item.Name</td><td>@item.Password</td><td>@item.Role</td></tr>
                no++;
            }
        @:</table>
    }
    else
    {
        @: No awards in the list;
    }
}
